<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/edit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <form action="edit.html" method="post" th:action="@{/pages/${prettyUrl}/edit.html}" th:object="${pageCommand}">
        <label><th:block th:text="edit.pretty.url" /><input type="text" th:value="${prettyUrl}" name="prettyUrl" value="pretty url" /></label>
        <label><th:block th:text="edit.template" /><textarea id="editor1" name="editor1" th:text="${page.content}">content</textarea></label>
    </form>
</div>
</body>
</html>