form.entity {
    background-color: lemonchiffon;
}
form.entity label.textarea {
    clear: both;
    width: 100%;
}
form.entity input[type = submit] {
    float: right;
    display: inline-block;
    border-radius: 5px;
    color: #555;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.4), -1px -1px rgba(0, 0, 0, 0.075);
}
form.entity textarea {
    width: 100%;
}
form span.form-header {
    font-size: larger;
}
form.entity .settings input[type=checkbox] {
    width: 100px;
}
.editmarkup {
    width: 400px;
    margin: 0 auto;
}
.editmarkup label {
    clear: right;
    width: 100%;
    line-height: 200%;
    display: inline-block;
}
.editmarkup label input, .editmarkup label select {
    width: 200px;
    float: right;
}
.clearer {
    clear: both;
}