
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Task List</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../resources/css/moono/editor.css" th:href="@{/resources/css/moono/editor.css}" />
    <script type="text/javascript" src="../../../resources/js/ckeditor.js" th:src="@{/resources/js/ckeditor.js}"></script>
    <script type="text/javascript" src="../../../resources/js/config.js" th:src="@{/resources/js/config.js}"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor1');
    </script>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>