
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title><th:block th:text="#{edit.page}" />[[${page.name}]]</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../resources/css/edit.css" th:href="@{/resources/css/edit.css}" />
    <script type="text/javascript" src="../../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
    <script type="text/javascript" src="../../../resources/js/ckeditor.js" th:src="@{/resources/js/ckeditor.js}"></script>
    <script type="text/javascript" src="../../../resources/js/config.js" th:src="@{/resources/js/config.js}"></script>
    <script type="text/javascript">
        function updateEditor() {
            var editor = document.getElementById('editor');
            var type = document.getElementById('type');
            if (type.value == 'CmsPage') {
                editor.classList.remove('hidden');
            } else {
                editor.classList.add('hidden');
            }
        }
        function loadCkEditor() {
            CKEDITOR.replace('editor1');
//            updateEditor();
//            type.addEventListener('change', updateEditor);
        }
    </script>
</head>
<body onload="loadCkEditor();">
<div class="container">
    <div layout:fragment="content">
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>